*{
    background-color: skyblue;
    /* font-size: 20px; */
}
.header{
    text-align: center;
    /* text-decoration: underline; */
   
}
.container{
    display: flex;
    width: 500px;
    height: 400px;
    margin-top: 100px;
    /* margin-left: 50px; */
    gap: 40px;
    font-size: 30px;
}
.hours{
    /* width: 100px; */
    height: 150px;
    margin-left: 90px;
}
.hours input{
    width: 50px;
}
.minute{
    width: 100px;
    height: 150px;
}
.second{
    width: 100px;
    height: 150px;
}
.start{
    position: absolute;
    margin-top: 100px;
    margin-left : 150px;
    font-size: 35px;
    border-radius: 20px;

}
.stop{
    position: absolute;
    margin-top: 100px;
    margin-left : 280px;
    font-size: 35px;
    border-radius: 20px;
  
}